[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest -vv"
lint = "sh -c 'flake8 && pipenv run format --check'"
format = "black obniz/ tests/ "
build = "sh -c 'rm  -rf build/ dist/ obniz.egg-info/ && python setup.py sdist bdist_wheel'"
testsubmit = "twine upload --repository testpypi dist/*"
# no shortcut for production  submit for safe

[packages]
pyee = "*"
websockets = "*"
attrdict = "*"
semver = "*"

[dev-packages]
asynctest = "*"
# "black" requires python 3.6+
# so if it exists in Pipfile, `pipenv insttall` must fail on Travis CI python 3.5
# please install by your self via `pipenv run pip install black`
# (avoid `pipenv install black` in order to bypass adding "black" to Pipfile)
# black = "*"
jsonschema = "*"
"flake8" = "*"
flake8-import-order = "*"
pep8-naming = "*"
pytest = "*"
pytest-mock = "*"
pyyaml = "*"
setuptools = "*"
wheel = "*"
twine = "*"
tox = "*"
